In [ ]:
import pandas as pd 
import numpy as np

In [ ]:
data={
    'Student_id':[1,2,3,4,5,6,7,8,9,10],
    'Math_score':[85,90,87,88,95,np.nan,90,85,80,300],
    'Sci_score':[np.nan, 76, 85, 89, 90, 34, 80, 95,86,88],
    'Eng_score':[80, 70, 65, 75, 60, 50, 82, 88,88,96]
}

df=pd.DataFrame(data)
print(df)

In [ ]:
print(df.isnull().sum())

In [ ]:
df['Math_score']=df['Math_score'].fillna(df['Math_score'].mean())
df['Sci_score']=df['Sci_score'].fillna(df['Sci_score'].mean())
print(df)

In [ ]:
Q1=df['Math_score'].quantile(0.25)
Q2=df['Math_score'].quantile(0.75)
IQR=Q2-Q1

lower_bound=Q1-1.5*IQR
upper_bound=Q2+1.5*IQR

print(f"Lower Bound: {lower_bound}")
print(f"Upper Bound: {upper_bound}")

outlier=df[(df['Math_score']<lower_bound)|(df['Math_score']>upper_bound)]
print(outlier)

In [ ]:
median_math=df["Math_score"].median()
df.loc[df['Math_score'] > upper_bound, 'Math_score'] = median_math
print(df)

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
sns.histplot(df['Sci_score'],kde=True)
plt.title('Science_Score Before Log Transformation')
plt.show()

In [ ]:
df['Sci_score_log']=np.log(df['Sci_score'])
print(df[['Sci_score','Sci_score_log']])

In [ ]:
sns.histplot(df['Sci_score_log'],kde=True)
plt.title("Sci_score_log After Transformmation")
plt.show()