In [ ]:
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt

In [ ]:
df=sns.load_dataset('titanic')
print(df)

In [ ]:
df.isnull().sum()

In [ ]:
df['age']=df['age'].fillna(df['age'].mean())
df['embarked']=df['embarked'].fillna(df['embarked'].mode()[0])
df['deck']=df['deck'].fillna(df['deck'].mode()[0])
df['embark_town']=df['embark_town'].fillna(df['embark_town'].mode()[0])
print(df.isnull().sum())

In [ ]:
print(df.info())

In [ ]:
plt.figure(figsize=(10,6))
sns.histplot(df['fare'], kde=True, bins=30, color='skyblue')
plt.title('Distribution of Titanic Fare Prices')
plt.xlabel('Fare')
plt.ylabel('Number of Passengers')
plt.show()